#categories {
  h1,h4 {
    color: $text-color;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  #category-name-list {
    font-size: 2rem;

    @include respond-to('small') {
      max-width: 70%;
      margin: 0px auto;
    }

    li {
      display: inline-block;
      padding: 15px;
      font-family: $font-primary;
    }
  }

  .category-name {
    font-family: $font-primary;
  }

  #category-posts {
    li {
      padding: 15px 0px;
    }
  }
}
