.grt {
	max-width: map-get($breakpoints, 'large');
	font-size: 22px;
	line-height: 37px;
	padding: 23px;
}
.grt h1 {
	font-size: 45px;
	line-height: 70px;
	margin-bottom: 37px;
}
.grt .title {
	font-size: 58px;
	line-height: 89px;
	margin-bottom: 37px;
}
.grt h2 {
	font-size: 36px;
	line-height: 57px;
	margin-top: 60px;
	margin-bottom: 23px;
}
.grt h3 {
	font-size: 28px;
	line-height: 46px;
	margin-top: 37px;
	margin-bottom: 14px;
}
.grt h4 {
	font-size: 22px;
	line-height: 37px;
	font-weight: bold;
	margin-bottom: 9px;
}
.grt p, .grt ul, .grt ol, .grt blockquote, .grt pre, .grt .alert, .grt .note, .grt .box, .grt .footnotes {
	margin-bottom: 37px;
}
.grt ul, .grt ol {
	margin-left: 37px;
}
.grt li {
	margin-bottom: 14px;
}
.grt blockquote {
	padding-left: 23px;
	border-style: solid;
	border-color: rgba(0,0,0,0.15);
	border-width: 0 0 0 9px;
}
.grt sub, .grt sup {
	padding: 0 1px;
}
.grt code, .grt pre, .grt kbd {
	font-size: 18px;
}

.grt pre {
	padding: 14px;
	border-style: solid;
	border-color: rgba(0,0,0,0.15);
	border-width: 0 0 0 9px;
}
.grt kbd {
	background-color: #fff;
	padding: 5px 6px;
	border-radius: 6px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.45);
	margin: 0 1px;
}
.grt .alert, .grt .note, .grt .box {
	padding: 23px;
}
.grt .footnotes {
	font-size: 17px;
	line-height: 30px;
	padding-top: 23px;
	border-top: 1px dotted rgba(0,0,0,0.15);
}
.grt .footnotes p {
	margin-bottom: 23px;
}
.grt ul ul, .grt ul ol, .grt ol ul, .grt ol ol, .grt blockquote.right p, .grt blockquote.left p, .grt .alert :last-child, .grt .note :last-child, .grt .box :last-child, .grt .footnotes :last-child {
	margin-bottom: 0;
}
@media all and (min-width: map-get($breakpoints, 'large')) {
	.grt {
		padding: 37px;
	}
}
