@import url('https://fonts.googleapis.com/css?family=Oswald|Alegreya Sans|Open+Sans&display=swap');

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-secondary;
  font-size: 22px;
}

code {
  font-size: 1.2rem;
}

strong {
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $text-color;
  text-decoration-color: $primary-color;
}

header {
  font-size: 4rem;
  font-family: $font-primary;
  @include respond-to('large') {
    font-size: 6rem;
  }
  margin-bottom: 20px;

  a:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

h1, h2, h3, h4, h5, h6, header {
  color: $primary-color;
}

h1 {
  margin: 15px 0px;
}

main {
  max-width: map-get($breakpoints, 'large');
  margin: 0px auto;
  padding: 30px 30px;
}
