body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-secondary;
  font-size: 22px;
}

code {
  font-size: 1.2rem;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $text-color;
  text-decoration-color: $primary-color;
}

header {
  font-size: 3.5rem;
  font-family: $font-primary;
  text-align: center;

  @include respond-to('medium') {
    font-size: 4rem;
  }
  @include respond-to('large') {
    font-size: 6rem;
  }

  margin-bottom: 20px;

  a:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

h1, h2, h3, h4, h5, h6, header {
  color: $primary-color;
  font-family: $font-primary;
  text-transform: uppercase;
}

h1 {
  padding-top: 0px;
  margin-top: 0px;
}

main {
  max-width: map-get($breakpoints, 'large');
  margin: 0px auto;
  padding: 30px 30px;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  overflow-x: auto;
}
