$dark-grey: rgb(62, 66, 68);
$light-blue: #66c0ec;
$off-white: rgb(230, 237, 240);

$bg-color: $dark-grey;
$primary-color: $light-blue;
$text-color: $off-white;

$font-primary: 'Oswald';
$font-secondary: 'Alegreya Sans';
