---
layout: default
---
<div class='row post grt'>
  <article>
    <h1>{{- page.title -}}</h1>
    <p class='metadata'>
      {{- page.date | date: '%B %d, %Y' -}} &nbsp; | &nbsp;
      {%- if page.categories != empty -%}
        {%- for category in page.categories -%}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {%- unless forloop.last %},&nbsp;{% endunless -%}
        {%- endfor -%}
      {%- endif -%}
    </p>
    {{ content }}
  </article>
</div>
